@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');


body {
    font-family: Helvetica, Arial, sans-serif;
}

body,
h1>a,
h1>a:active,
h1>a:hover,
.post-date {
    color: #333;
}

h1,
h2,
.post-date {
    font-family: Lora;
}

nav,
.post-date {
    text-transform: uppercase;
    border-top: 1px solid #d0d0d0;
}

.post-date {
    border-bottom: 1px solid #d0d0d0;
}

a {
    text-decoration: none;
    color: #666;
}

a:active {
    color: #deb887;
}

a:hover {
    color: #00ddff;
}

h1 {
    font-size: 75px;
    text-align: center;
    padding: .8em 0 .5em;
    margin: 0 auto;
}

nav>ul {
    padding: 0;
    margin: 0;
}

nav>ul>li {
    list-style: none;
    text-align: center;
    padding: .8em;
}

nav a {
    font-family: Lora;
    font-size: 24px;
}

.post-date {
    font-size: 28px;
    font-weight: bold;
    text-align: right;
    padding: 2em .5em .5em;
}

h2 {
    font-size: 27px;
    margin: 1.5em .5em .8em;
}

figure {
    text-align: center;
    margin: 0;
}

p {
    font-size: 19px;
    margin-inline: .5em;
}

@media only screen and (min-width: 800px) {
    h1 {
        padding: .7em 0;
    }

    h2 {
        font-size: 30px;
    }

    nav>ul {
        text-align: right;
    }

    nav>ul>li {
        display: inline-block;
        text-align: left;
    }
    nav {
        border-bottom: 1px solid #d0d0d0;
        margin-bottom: 1.5em;
    }

    .post-date {
        border: none;
        border-right: 1px solid #d0d0d0;
    }

    article {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    p {
        margin-left: 0;
        padding: 0 .8em 1.5em .8em; 
        border-bottom: 1px solid #d0d0d0;
        font-size: 20px;
    }
}